.NavColor{
    background-color: #9EB384;
    color: #FAF1E4;
    text-decoration: none;
}

.NavColor:hover{
    color:#435334;
    text-decoration: none;
}
.Color{
    color: #f97361; 
}

.btn_Customization{
    background-color: #9EB384;
    color: #435334; 
}

.btn_Customization:hover{
    background-color: #f97361;
    color: #FAF1E4;
}

.Bg{
    background-color: rgba(248, 243, 236, 100);
}
.CV{
    background-color: #9EB384;
}

.CV:hover{
    color: black;
    background-color: #FFC5C5;
}